<div class="footer">
  <div class="sections">
    <div class="section">
      <h4>SERVICIO AL CLIENTE</h4>
      <ul>
        <li><a href="#">Garantía</a></li>
        <li><a href="#">Devolución y reembolso</a></li>
        <li><a href="#">Contáctanos</a></li>
      </ul>
    </div>
    <div class="section">
      <h4>ACERCA DE ISAMAR COSMETIC´S</h4>
      <ul>
        <li><a href="#">Políticas</a></li>
      </ul>
    </div>
    <div class="section">
      <h4>SIGUENOS</h4>
      <ul>
        <li>
          <a href="#"
            ><img
              src="./assets/images/facebook.png"
              alt="Facebook"
            />Facebook</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="./assets/images/instagram.png" alt="Instagram" />
            Instagram</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="./assets/images/tiktok.png" alt="Instagram" /> TikTok</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="line">
    <hr />
  </div>
  <div class="copy">
    <p>&copy;Isamar Cosmetic´s. Todos los Derechos Reservados</p>
  </div>
</div>
