<h1 class="title">Docimicilio de Entrega</h1>
<a routerLink="/productos/descripcion/3">&#8592; Regresar</a>
<div style="display: flex; justify-content: space-between; margin-top: 3rem">
  <div style="display: flex">
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15015.958614314373!2d-99.88441511386229!3d19.79803602628134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2588ac2615d8f%3A0xc1a0c4f375f362dc!2sAtlacomulco%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1641512888096!5m2!1ses-419!2smx"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div><p style="margin-left: 1rem">Dirección datos..</p></div>
  </div>
  <div style="display: flex; width: 20%">
    <div class="resumen">
      <p style="margin: 1rem 0"><strong>Resumen de Compra</strong></p>
      <div style="display: flex; justify-content: space-between">
        <p>Cantidad:</p>
        <p>{{ cantidad }}</p>
      </div>
      <div
        style="display: flex; justify-content: space-between; margin: 1rem 0"
      >
        <p>Precio:</p>
        <p>{{ precio | currency }}</p>
      </div>
      <hr />
      <div style="display: flex; justify-content: space-between">
        <p>Total:</p>
        <p>{{ precio * cantidad | currency }}</p>
      </div>

      <button
        mat-button
        style="background: #6b5a59; color: white; width: 90%; margin: 3rem 0"
        routerLink="/productos/pagar"
      >
        Continuar
      </button>
    </div>
  </div>
</div>
