<mat-toolbar>
  <span class="logo-title">
    <a mat-button routerLink="">
      <mat-icon>shopping_bag</mat-icon>
      <span><b> Isamar Cosmetic´s</b></span>
    </a>
  </span>

  <!-- Opciones Administrador -->
  <app-autorizado [rol]="'Administrador'">
    <ng-container autorizado>
      <div class="opciones-administrador">
        <div>
          <a mat-button routerLink="productos">Productos</a>
        </div>
        <div>
          <a mat-button routerLink="ventas">Ventas</a>
        </div>
        <div>
          <a mat-button [matMenuTriggerFor]="optionsAdministrador">Usuarios</a>
          <mat-menu #optionsAdministrador="matMenu">
            <button mat-menu-item routerLink="usuarios">Usuarios</button>
            <button mat-menu-item routerLink="clientes">Clientes</button>
          </mat-menu>
        </div>
        <div>
          <a mat-button routerLink="categorias">Categorías</a>
        </div>
      </div>
    </ng-container>
  </app-autorizado>

  <app-autorizado [rol]="'Vendedor'">
    <ng-container autorizado>
      <div class="opciones-vendedor">
        <div>
          <a mat-button routerLink="">Ventas</a>
        </div>
      </div>
    </ng-container>
  </app-autorizado>

  <!-- Opciones Cliente -->
  <app-autorizado [rol]="'Cliente'">
    <ng-container autorizado>
      <div class="opciones-cliente">
        <div>
          <a mat-button routerLink="compras">Mis Compras</a>
        </div>
      </div>
    </ng-container>
  </app-autorizado>

  <div class="space"></div>

  <app-autorizado>
    <ng-container noAutorizado>
      <span>
        <a mat-button routerLink="login"> Iniciar Sesión </a>
      </span>
      <span>
        <a mat-stroked-button routerLink="registrarse"> Registrarse </a>
      </span>
    </ng-container>
  </app-autorizado>

  <app-autorizado>
    <ng-container autorizado>
      <span>
        <a mat-button [matMenuTriggerFor]="options">
          <mat-icon>account_circle</mat-icon>
          Hola, {{ obtenerNombre() }}
        </a>

        <mat-menu #options="matMenu">
          <!-- <button mat-menu-item>Perfil</button> -->
          <button mat-menu-item (click)="seguridadService.cerrarSesion()">
            Cerras Sesión
          </button>
        </mat-menu>
      </span>
    </ng-container>
  </app-autorizado>

  <app-autorizado [rol]="'Cliente'">
    <ng-container autorizado>
      <!-- <span>
        <a mat-icon-button routerLink="" matTooltip="Carrito">
          <mat-icon>shopping_cart</mat-icon>
        </a>
      </span> -->
    </ng-container>
  </app-autorizado>
</mat-toolbar>
