<mat-toolbar>
  <span class="logo-title">
    <a mat-button routerLink="">
      <mat-icon>shopping_bag</mat-icon>
      <span><b> Isamar Cosmetic´s</b></span>
    </a>
  </span>

  <!-- Opciones Administrador -->
  <div class="opciones-administrador">
    <div>
      <a mat-button routerLink="">Productos</a>
    </div>
    <div>
      <a mat-button routerLink="">Ventas</a>
    </div>
    <div>
      <a mat-button routerLink="">Usuarios</a>
    </div>
    <div>
      <a mat-button routerLink="categorias">Categorías</a>
    </div>
  </div>

  <div class="space"></div>

  <span>
    <a mat-button routerLink="login"> Iniciar Sesión </a>
  </span>

  <!-- <span>
    <a mat-button [matMenuTriggerFor]="options">
      <mat-icon>account_circle</mat-icon>
      Hola, Yoselin
    </a>

    <mat-menu #options="matMenu">
      <button mat-menu-item>Perfil</button>
      <button mat-menu-item routerLink="login">Cerras Sesión</button>
    </mat-menu>
  </span> -->

  <span>
    <a mat-icon-button routerLink="">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </span>
</mat-toolbar>
