<div>
  <button type="button" mat-raised-button (click)="fileInput.click()">
    Seleccionar Portada
  </button>
  <!-- Este input esta oculta pero se puede interactuar con el button -->
  <input
    type="file"
    accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
    hidden
    #fileInput
    (change)="change($event)"
  />
  <!-- change, para que pasae el evento que contiene el archivo seleccionado -->
</div>

<div>
  <div *ngIf="imagenBase64">
    <img [src]="imagenBase64" />
  </div>
  <!--La imagen actual al editar  -->
  <div *ngIf="urlImagenActual">
    <img [src]="urlImagenActual" alt="" />
  </div>
</div>
