<div class="container">
  <div class="content">
    <form [formGroup]="form">
      <div class="login-container">
        <h1 class="title">Regístrate</h1>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput formControlName="nombre" />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error>El nombre es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="correo" />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error>El Email es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error>El campo Contraseña es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: start"></div>

        <div style="display: flex; justify-content: center">
          <div style="width: 60%; text-align: start">
            <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
          </div>
        </div>
        <div class="button-login">
          <button
            mat-flat-button
            [disabled]="form.invalid"
            (click)="crearCliente()"
          >
            Ingresar
          </button>
        </div>
      </div>
    </form>
    <div class="links">
      <a href="">¿Olvidó su contraseña?</a>
    </div>
  </div>
</div>
