<a routerLink="">&#8592; Regresar</a>
<div
  style="
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  "
>
  <div class="contenedor">
    <div style="display: flex; justify-content: space-between">
      <div class="primera-fila">
        <div>
          <img
            src="https://localhost:44309/imagenesProducto/898d929d-4b7e-4e79-b912-ea75d344ddaf.jpg"
            alt=""
            style="width: 30rem; margin: 3rem"
          />
          <div>
            <img
              class="img-preview"
              src="https://localhost:44309/imagenesProducto/898d929d-4b7e-4e79-b912-ea75d344ddaf.jpg"
              alt=""
              style="
                width: 3rem;
                border-color: gray;
                border-width: 1px;
                border-style: solid;
                border-radius: 3px;

                margin-right: 0.5rem;
                padding: 3px;
              "
            />
            <img
              matTooltip="Clic para ver"
              class="img-preview"
              src="https://localhost:44309/imagenesProducto/898d929d-4b7e-4e79-b912-ea75d344ddaf.jpg"
              alt=""
              style="
                width: 3rem;
                border-color: gray;
                border-width: 1px;
                border-style: solid;
                border-radius: 3px;

                margin-right: 0.5rem;
                padding: 3px;
              "
            />
            <img
              src="https://localhost:44309/imagenesProducto/898d929d-4b7e-4e79-b912-ea75d344ddaf.jpg"
              alt=""
              style="
                width: 3rem;
                border-color: gray;
                border-width: 1px;
                border-style: solid;
                border-radius: 3px;

                margin-right: 0.5rem;
                padding: 3px;
              "
            />
            <img
              class="img-preview"
              src="https://localhost:44309/imagenesProducto/898d929d-4b7e-4e79-b912-ea75d344ddaf.jpg"
              alt=""
              style="
                width: 3rem;
                border-color: gray;
                border-width: 1px;
                border-style: solid;
                border-radius: 3px;

                margin-right: 0.5rem;
                padding: 3px;
              "
            />
            <img
              src="https://localhost:44309/imagenesProducto/898d929d-4b7e-4e79-b912-ea75d344ddaf.jpg"
              alt=""
              style="
                width: 3rem;
                border-color: gray;
                border-width: 1px;
                border-style: solid;
                border-radius: 3px;

                margin-right: 0.5rem;
                padding: 3px;
              "
            />
          </div>
        </div>
        <hr />
        <div style="margin: 3rem 0">
          <p style="font-size: x-large">Descripción</p>
          <markdown>
            *******SOMOS MERCADO LIDER PLATINUM**** ¡¡¡¡¡somos uno de los
            mejores del sitio!!!!!
            --------------------------------------------------------------------------------------------
            **ENVIO GRATIS**
            --------------------------------------------------------------------------------------------
            ----------------------------------------------------------------------------------------------------------------------
            TAN SEGUROS ESTAMOS DE LA BUENA CALIDAD Y DESEMPEÑO DE NUETRO
            PRODUCTO QUE ""LO RETAMOS"" A PROBAR DURANTE 30 DIAS NUESTRO
            PRODUCTO SI NO LE AGRADA O NO CUMPLE CON SUS ESPECTATIVAS PODRA
            REGRESARLO COMPLETAMENTE """GRATIS"" * ed
          </markdown>
        </div>
        <hr />
        <div>
          <p style="font-size: x-large">Preguntas y Respuestas</p>
          <div>
            <mat-form-field appearance="outline" style="width: 40%">
              <input
                type="text"
                matInput
                placeholder="Escribe tu pregunta..."
              />
            </mat-form-field>
            <button
              style="margin-left: 1rem; background: #6b5a59; color: white"
              mat-button
            >
              Preguntar
            </button>
            <!-- Pregunstas y repsuestas -->
            <div style="width: 70%; margin: 2rem 0">
              <div style="display: flex; justify-content: space-between">
                <p><strong>Pregunta: </strong></p>
                <p>¿Aún tienes disponibles?</p>
              </div>
              <div style="display: flex; justify-content: space-between">
                <p><strong>Respuesta: </strong></p>
                <p style="color: gray">Si aún hay diposnible 2/01/2021</p>
              </div>
            </div>
            <div style="width: 70%">
              <div style="display: flex; justify-content: space-between">
                <p><strong>Pregunta: </strong></p>
                <p>¿Aún tienes disponibles?</p>
              </div>
              <div style="display: flex; justify-content: space-between">
                <p><strong>Respuesta: </strong></p>
                <p style="color: gray">Si aún hay diposnible 2/01/2021</p>
              </div>
            </div>

            <a href="">Ver todas las respuestas</a>
          </div>
        </div>
      </div>
      <div class="segunda-fila">
        <div class="detalles">
          <p style="color: gray">3 Vendidos</p>
          <div style="display: flex; justify-content: space-between">
            <h2>Labial Rosa Para mujeres Original</h2>
            <button mat-icon-button matTooltip="Agregar a Favoritos">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <p style="font-size: xx-large"><strong>$226.00</strong></p>
          <p style="color: green"><strong>Disponible</strong></p>
          <p>Cantidad: 1 99 Disponibles</p>

          <div class="buttons">
            <button
              mat-button
              class="comprar"
              routerLink="/productos/resumen-compra"
            >
              Comprar Ahora
            </button>
          </div>
          <div class="buttons">
            <button mat-button class="carrito">Agregar al Carrrito</button>
          </div>
        </div>
        <div class="detalles">
          <div>
            <p style="text-align: center"><strong>Medios de Pago</strong></p>
            <img
              src="./assets/images/paypal-pagos.png"
              alt=""
              style="width: 70%"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 80%; display: flex; flex-direction: column; margin: 3rem">
    <p style="text-align: start; font-size: xx-large">
      También te puede interesar
    </p>
    <app-listado-productos></app-listado-productos>
  </div>
</div>
