<app-spinner *ngIf="isLoading"></app-spinner>
<app-mostrar-errores [errores]="errores"></app-mostrar-errores>
<a routerLink="">&#8592; Regresar</a>
<div
  style="
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  "
>
  <div class="contenedor" *ngIf="producto">
    <p
      style="color: #32b446"
      *ngIf="
        seguridadService.obtenerRol() === 'Administrador' ||
        seguridadService.obtenerRol() === 'Vendedor'
      "
    >
      <strong>Estas en modo "Vista previa"</strong>
    </p>
    <div style="display: flex; justify-content: space-between">
      <div class="primera-fila">
        <div style="display: flex">
          <div style="margin-top: 3rem">
            <div *ngFor="let imagen of producto.imagenes">
              <div style="width: 3rem; height: 3rem; margin: 0.5rem 0">
                <img
                  matTooltip="Clic para ver imagen"
                  class="img-preview"
                  [src]="imagen"
                  alt=""
                  style="
                    width: 100%;
                    height: 100%;
                    border-color: gray;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 3px;

                    margin-right: 0.5rem;
                    padding: 3px;
                  "
                  (click)="seleccionaImagen(imagen)"
                />
              </div>
            </div>
          </div>

          <img
            [src]="rutaImagenPortada"
            alt=""
            style="width: 30rem; max-height: 40rem; margin: 3rem"
          />
        </div>
        <hr />
        <div style="margin: 3rem 0">
          <p style="font-size: x-large">Descripción</p>
          <markdown>
            {{ producto.descripcion }}
          </markdown>
        </div>
        <hr />
        <div style="margin: 1rem 0">
          <mat-icon>whatsapp</mat-icon> Enviar mensaje al vendedor
          <div>
            <mat-form-field appearance="outline" style="width: 60%">
              <textarea
                type="text"
                matInput
                [(ngModel)]="mensaje"
                value="¿Puede darme más información?, por favor."
              ></textarea>
            </mat-form-field>
            <a
              [href]="urlWhatsapp + mensaje"
              mat-button
              style="background-color: #32b446; color: white; margin-left: 1rem"
              target="_blank"
            >
              Enviar
            </a>
          </div>
        </div>
      </div>
      <div class="segunda-fila">
        <div class="detalles">
          <p style="color: gray">{{ producto.vendidos }} Vendidos</p>
          <div style="display: flex; justify-content: space-between">
            <h2>{{ producto.nombre }}</h2>
            <!-- <button
              mat-icon-button
              matTooltip="Agregar a Favoritos"
              [disabled]="seguridadService.obtenerRol() === 'Administrador'"
            >
              <mat-icon>favorite_border</mat-icon>
            </button> -->
          </div>
          <p style="font-size: xx-large">
            <strong>{{ producto.precioVenta | currency }}</strong>
          </p>
          <p style="color: green" *ngIf="producto.stock > 0">
            <strong>Disponible</strong>
          </p>
          <p style="color: red" *ngIf="producto.stock <= 0">
            <strong>Agotado</strong>
          </p>
          <p>{{ producto.stock }} Disponibles</p>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Cantidad</mat-label>
            <input
              matInput
              type="number"
              class="example-right-align"
              placeholder="0"
              [disabled]="true"
              [ngModel]="cantidad"
            />
            <div matSuffix class="wrapper-indicator">
              <button class="up" mat-icon-button (click)="sumar()">
                <mat-icon>expand_less</mat-icon>
              </button>
              <button class="down" mat-icon-button (click)="restar()">
                <mat-icon>expand_more</mat-icon>
              </button>
            </div>
          </mat-form-field>

          <div class="buttons">
            <button
              mat-flat-button
              class="comprar"
              (click)="resumenCompra()"
              [disabled]="
                producto.stock <= 0 ||
                seguridadService.obtenerRol() === 'Administrador' ||
                seguridadService.obtenerRol() === 'Vendedor'
              "
            >
              Comprar Ahora
            </button>
          </div>
          <!-- <div class="buttons">
            <button
              mat-flat-button
              class="carrito"
              [disabled]="
                producto.stock <= 0 ||
                seguridadService.obtenerRol() === 'Administrador' ||
                seguridadService.obtenerRol() === 'Vendedor'
              "
            >
              Agregar al Carrrito
            </button>
          </div> -->
        </div>
        <div class="detalles">
          <div>
            <p style="text-align: center"><strong>Medios de Pago</strong></p>
            <img
              src="./assets/images/paypal-pagos.png"
              alt=""
              style="margin: 0 auto; width: 70%"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 80%; display: flex; flex-direction: column; margin: 3rem">
    <p style="text-align: start; font-size: xx-large">
      También te puede interesar
    </p>
    <app-listado-productos></app-listado-productos>
  </div>
</div>
