.carousel {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

.search {
  display: flex;
  justify-content: center;
}
.search mat-form-field {
  width: 50rem;
}

.products {
  margin: 3rem 0;
}
.products p {
  text-align: center;
  font-size: 2rem;
}

.paginator {
  display: flex;

  justify-content: center;
}

mat-paginator {
  background: #f7f7f7;
}

@media screen and (max-width: 600px) {
  .search mat-form-field {
    width: 90%;
  }

  .paginator {
    background-color: red;
  }

  .products p {
    font-size: medium;
  }
}
