<app-spinner *ngIf="isLoading"></app-spinner>
<h1 class="title">Editar Producto</h1>

<div style="display: flex; justify-content: center">
  <div class="contenedor">
    <form [formGroup]="form">
      <div class="campos-primero">
        <mat-form-field appearance="outline" class="nombre">
          <mat-label>Nombre del Producto*</mat-label>
          <input
            placeholder="Nombre del producto"
            matInput
            formControlName="nombre"
          />
          <mat-icon matSuffix>category</mat-icon>
          <mat-error>Debe agregar un nombre.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="codigo">
          <mat-label>Código*</mat-label>
          <input
            placeholder="Código del producto"
            matInput
            formControlName="codigo"
          />
          <mat-icon matSuffix>numbers</mat-icon>
          <mat-error>Debe agregar un código.</mat-error>
        </mat-form-field>
      </div>

      <div class="campos">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Precio*</mat-label>
          <input
            placeholder="0"
            matInput
            type="number"
            class="example-right-align"
            formControlName="precioVenta"
          />
          <span matPrefix>$&nbsp;</span>
          <mat-error>Debe agregar un precio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Categoría*</mat-label>
          <mat-select formControlName="idCategoria">
            <mat-option
              *ngFor="let categoria of categorias"
              [value]="categoria.idCategoria"
            >
              {{ categoria.nombre }}
            </mat-option>
          </mat-select>
          <mat-error>Debe seleccionar una categoría.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Stock*</mat-label>
          <input
            placeholder="Stock del producto"
            matInput
            type="number"
            formControlName="stock"
          />
          <mat-icon matSuffix>inventory</mat-icon>
          <mat-error>Debe agregar una cantidad.</mat-error>
        </mat-form-field>
      </div>
      <app-input-img
        [urlImagenActual]="producto?.portada"
        (archivoSeleccionado)="archivoSeleccionado($event)"
      ></app-input-img>

      <div>
        <p style="margin-top: 2rem"><strong>Descripción:</strong></p>
        <app-input-markdown
          [contenidoMarkdown]="producto?.descripcion"
          (changeMarkdown)="cambioMarkdown($event)"
        ></app-input-markdown>
      </div>
      <div style="display: flex; align-items: center">
        <div
          class="custom-dropzone"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onSelect($event)"
          [multiple]="false"
          style="width: 60%"
        >
          <ngx-dropzone-label>
            <div>Arrastra las imágenes aquí</div>
          </ngx-dropzone-label>
          <!-- <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let i of images" [file]="i" [removable]="true" (removed)="onRemoveImage(i)" > -->
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let i of files"
            [file]="i"
            [removable]="true"
            (removed)="onRemove(i)"
          >
            <ngx-dropzone-label>{{ i.name }} ({{ i.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
        <div style="margin-left: 1rem">
          <button
            mat-flat-button
            (click)="agregarImagenes()"
            [disabled]="files.length === 0"
          >
            Cargar Imágenes
          </button>
        </div>
      </div>

      <div *ngIf="imagenesProducto">
        <p><strong>Imágenes del Producto:</strong></p>
        <table
          #table
          mat-table
          [dataSource]="imagenesProducto"
          class="mat-elevation-z8 tabla-imagenes"
        >
          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef>Opciones</th>
            <td mat-cell *matCellDef="let imagen" align="start">
              <a
                mat-icon-button
                matTooltip="Eliminar"
                (click)="eliminarImagen(imagen.idImagen)"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef>Imagen</th>
            <td mat-cell *matCellDef="let imagen" align="start">
              <img
                [src]="imagen.ruta"
                alt="{{ imagen.nombre }}"
                style="min-width: 1rem; max-width: 3rem; max-height: 4rem"
              />
            </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let imagen" align="start">
              {{ imagen.nombre }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="columnasAMostrar; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8" style="color: red">
              Por el momento no hay imágenes agregadas.
            </td>
          </tr>
        </table>
      </div>

      <div>
        <button
          mat-flat-button
          (click)="editarProducto()"
          [disabled]="form.invalid"
        >
          Guardar
        </button>

        <a mat-stroked-button routerLink="/productos">Cancelar</a>
      </div>

      <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
    </form>
  </div>
</div>
